/* Project: iStocker - Component: Navigation Tabs */

.tabs-switcher {
    display: flex;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: var(--radius-md);
    padding: 8px;
    margin-bottom: 30px;
    gap: 10px;
}

.tab-item {
    flex: 1;
    text-align: center;
    padding: 12px;
    border-radius: var(--radius-sm);
    color: var(--text-gray);
    cursor: pointer;
    transition: var(--transition-main);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: var(--weight-medium);
}

/* Active State Styles */
.tab-item.active {
    background-color: var(--purple-low-opacity);
    border: 1px solid var(--purple-primary);
    color: var(--purple-primary);
    border-radius: var(--radius-sm);
}

.tab-item:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text-white);
}